:root {
  /* fonts */
  --ff-poppins: "Poppins", sans-serif;
  --ff-open-sans: "Open Sans", sans-serif;

  /* colors */
  --clr-soft-magenta: hsl(300, 69%, 71%);
  --clr-violet: hsl(257, 40%, 49%);
  --clr-white: hsl(0, 0%, 100%);

  /* sizes */
  --spacer: 1rem;
  --dbl-spacer: 2rem;
  --triple-spacer: 3rem;
  --attribution: 0.75rem;

  /* box-shadow */
  --box-shadow: 0px 3px 20px hsl(257, 39%, 22%, 0.8);
}

/*********/
/* reset */
/*********/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ol[class],
ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--ff-open-sans);
  font-weight: 400;
  line-height: 1.5;
  color: var(--clr-white);
  min-height: 100vh;
  background-color: var(--clr-violet);
  background-image: url(/images/bg-mobile.svg);
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 40rem) {
  body {
    background-image: url(/images/bg-desktop.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

main {
  padding: 0 var(--spacer);
  max-width: 60rem;
  margin: 0 auto;
}

/*******************/
/* utility classes */
/*******************/

.flow-content > * + * {
  margin-top: var(--spacer);
}

.extra-space > * + * {
  margin-top: var(--dbl-spacer);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: var(--spacer);
  grid-template-areas:
    "header ."
    "img img"
    "text text"
    "footer footer";
}

@media screen and (min-width: 40rem) {
  .container {
    grid-template-areas:
      "header ."
      "img text"
      ". footer";
  }
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

/******************/
/* general layout */
/******************/

.main-header {
  grid-area: header;
}

.main-img {
  grid-area: img;
}

.main-text {
  grid-area: text;
}

.main-social {
  grid-area: footer;
  justify-self: end;
}

.attribution {
  margin-top: var(--dbl-spacer);
  font-size: var(--attribution);
  text-align: center;
}

/*******************/
/* general styling */
/*******************/

h1 {
  font-family: var(--ff-poppins);
  font-size: var(--dbl-spacer);
}

button {
  display: inline-block;
  background-color: var(--clr-white);
  color: var(--clr-violet);
  border-radius: 2rem;
  padding: 0.75rem 6rem;
  cursor: pointer;
}

.main-button:focus {
  background-color: var(--clr-soft-magenta)
  color: var(var(--clr-white));
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
li:hover {
  color: var(--clr-soft-magenta);
}

.main-text {
  text-align: center;
}

.main-social__list {
  text-align: center;
}

.main-social__list li {
  display: inline-block;
  /* padding: 0.5rem auto; */
  width: var(--dbl-spacer);
  height: var(--dbl-spacer);
  border: 1px solid var(--clr-white);
  border-radius: var(--dbl-spacer);
  cursor: pointer;
}
